.center-top{
  
    flex-direction: column;
    position: relative;
    display: flex;
    top:80px;
    padding-left: 20px;
 
}
.center-top p {
            color: #666;
            margin-top: 0.5rem;
        }
