.donate-info{

  display: flex;
  flex-direction: column;
  padding: 10px;
   padding-right: 30px; 
  gap: 20px;
  position: relative;
  bottom: 0;
  right: 0px;
  left: 5px;
  box-sizing: border-box;   
  width:540px;
  flex:2;
}
.statistics{
    display: flex;
    padding:20px;
     padding-right: 0px; 
    right:0;  
    flex-direction:row;
    gap:25px; 
    border-radius: 12px;
    position: relative;
 
}

.stat-card{
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
 background-color: var(--color-bg-white);
width:200px;
padding: 15px 20px;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
border-radius: 12px;
position: relative;
width: 100%;

}
 .stat-label {
            font-size: 0.9rem;
            color: #666;
}
        
.stat-value {
            font-size: 1.5rem;
            font-weight: bold;
}

.Recent-Donations{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg-white);
    padding: 20px;
    margin-left: 25px;
    border-radius: 10px;

}

.donation-info{
    display: grid;
    gap: 10px;
    width:fit-content;
}
.donation-meta{
    text-align: right;
}

.donation-info h3 {
  margin: 0;
  font-size: 16px;
  color: #111;
}

.donation-info p {
  margin: 3px 0 0 0;
  font-size: 14px;
  color: #666;
}

.date {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 4px;
}

.status {
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 12px;
}
.medicament-cart{
background-color: rgb(246, 245, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 15px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}

.Recent-Reviews{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg-white);
    padding: 20px;
    margin-left: 25px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:20px;

}
 .complete {
            background-color: #e8f5e9;
            color: #4CAF50;
}
        
.in-progress {
            background-color: #fff3e0;
            color: #ff9800;
}

.reviews-block {
display: flex;
flex-direction:row;
background-color: rgb(246, 245, 244);
 box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
 justify-content: space-between;
 border-radius: 20px;
 padding: 15px;
}

.reviews-rating{
position: relative;
display: flex;
top:20px;
right:10px;
}

p ,
h5{
  color:#666;
     margin-bottom: 0.5rem;
}


@media (max-width:1100px){
  /*   donate block */
  .donate-info{
    width: 100% ;
    flex:1;
    right: 0;
    left:0;
    transition: all 0.3s ease;
  } 
 
  .stat-card{
    height: 100px;
  }

}

   @media (max-width: 500px) {
       /* Ajustements pour les petits écrans */
       .donate-info {
           width: 100%;
           flex: 1;
         
           transition: all 0.3s ease;
       }
       
       .statistics {
           flex-direction: column;
           align-items: center;
           gap: 30px;
    
       }
       
       .stat-card {
           height: 100px;
           width: 100%;
       }
   
 }
