.donate-info{

  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 30px; 
  gap: 20px;
  position: relative;
  bottom: 0;
  right: 0px;
  left: 5px;
  box-sizing: border-box;   
  width:540px;
  flex:2;
}
.statistics{
    display: flex;
    gap: 25px;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;          /* permet de s'adapter si l'espace manque */
}


.stat-card{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg-white);
    width: 30%;               /* 3 cards par ligne */
    min-width: 200px;         /* évite qu'elles deviennent trop petites */
    padding: 20px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-label {
    font-size: 0.95rem;
    color: #777;
}

.stat-value {
    font-size: 2rem;
    font-weight: 700;
}

#favorite{
   background: linear-gradient(
    90deg,
    hsl(155, 67%, 45%) 0%,
    hsl(172, 65%, 39%) 100%
  );
  color:white;
  border-radius: 10px;
  padding: 10px;
}
.stat-value.ch24{
  color: hsl(172, 65%, 39% ) ;

}
#deployed_code{
   background: linear-gradient(
    90deg,
    hsl(297, 35%, 42%) 0%,
    hsl(303, 65%, 39%) 100%
  );
  color:white;
  border-radius: 10px;
  padding: 10px;
}
.stat-value.ch18{
    color: hsl(303, 65%, 39%) ;
}

#star{
  background: linear-gradient(
    90deg,
    hsl(50, 78%, 66%) 0%,
    hsl(46, 65%, 39%) 100%
  );
  color:white;
  border-radius: 10px;
  padding: 10px;
}
.stat-value.ch49{
    color: hsl(50, 55%, 60%) ;

}

.Recent-Donations{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg-white);
    padding: 20px;
    margin-left: 25px;
    border-radius: 10px;

}
.Recent-Donations h2{
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
}
.donation-info h3{
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
}

.donation-info{
    display: grid;
    gap: 10px;
    width:fit-content;
}
.donation-meta{
    text-align: right;
}

.donation-info h3 {
  margin: 0;
  font-size: 16px;
  color: #111;
}

.donation-info p {
  margin: 3px 0 0 0;
  font-size: 14px;
  color: #666;
}

.date {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 4px;
}

.status {
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 12px;
}
.status.complete {
  background-color: #e8f5e9;
  color: #4CAF50;
}
        
.status.in-progress {
  background-color: #fff3e0;
  color: #ff9800;
}


.medicament-cart{
  background-color: rgba(179, 188, 185, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 15px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
  
}

.Recent-Reviews{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg-white);
    padding: 20px;
    margin-left: 25px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:20px;

}
.Recent-Reviews h2{
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
}
.reviews-block h4{
   font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 6px;
}
.reviews-block {
display: flex;
flex-direction:row;
background-color: rgba(179, 188, 185, 0.1);
 justify-content: space-between;
 border-radius: 20px;
 padding: 15px;

}

.reviews-rating{
position: relative;
display: flex;
top:20px;
right:10px;
}

p ,
h5{
  color:#666;
     margin-bottom: 0.5rem;
}
#Star{
  color: hsl(50, 55%, 60%) ;
}

.stat-card:hover{
  box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.15);
  
}

.medicament-cart:hover{
  box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.15);

}
.reviews-block:hover{
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.15);
}


@media (max-width:1100px){
  /*   donate block */
  .donate-info{
    width: 100% ;
    flex:1;
    right: 0;
    left:0;
    transition: all 0.3s ease;
  } 
 
  .stat-card{
    height: 100px;
  }

}

   @media (max-width: 500px) {
       /* Ajustements pour les petits écrans */
       .donate-info {
           width: 100%;
           flex: 1;
         
           transition: all 0.3s ease;
       }
       
       .statistics {
           flex-direction: column;
           align-items: center;
           gap: 30px;
    
       }
       
       .stat-card {
           height: 100px;
           width: 100%;
       }
   
 }
