* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

.overplay{
 position: fixed;
  margin: 0;  
  width: 100%;
  height: 100%;
  background: rgba(0.1, 0, 0, 0.4);
  z-index: 1000;   
  padding: 100px;

}
  

.modal{
  background: #ffffff;
  width: 400px;
  max-width: 95%;
  border-radius: 16px;
  padding: 20px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  animation: popup 0.3s ease;
  position: relative;
    margin-left:500px;
}

 .modal-form{
  width: 100%;
  padding: 12px 14px;
  border: 2px solid #d7dee5;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px ;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);/*offset-x offset-y blur-radius color;*/
 }

label{
    color:rgb(142, 143, 144);
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

input{
    border-color: aquamarine;
    margin-bottom: 15px;
    padding:10px;
    outline: none;/*Supprime le contour par défaut (souvent bleu/orange) quand un élément a le focus*/
    border-radius: 10px;
    border: 2px solid #d7dee5;
    width: 100%;

}
input:focus { 
  border-color: #007f5f;
  font-size: medium;
 }

.modal-buttons{
      margin-top: 20px ;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;

}

.save-btn{
   background-color: #007f5f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  
}
.cancel-btn{
   background-color: #d78181;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
h3{
 margin-bottom: 6px;
  color: #1e2a3a;
}
 
.subtitle{
 margin-bottom: 20px;
  color: #7a8a9a;
}

.save-btn:hover{
    background-color: #005e47;
    box-shadow: 0 7px 20px rgba(0, 128, 96, 0.3);

}

.cancel-btn:hover{
  background-color: #c06060;
  box-shadow: 0 7px 20px rgba(220, 100, 100, 0.3);

}
@keyframes popup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
