.navbar {
  background: var(--color-bg-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding-inline: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  max-height: 50px;
  font-size: var(--fs-6);
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  padding: 12px;
  list-style: none;
}

.header {
  position: relative;
}

.navbar-menu a {
  color: var(--color-neutral-muted);
}

 .hamburger-menu {
            display: none;
            cursor: pointer;
            font-size: 1.5rem;
  }

@media (max-width:1100px) {
  .hamburger-menu {
    display: block; /* Visible sur mobile */
  }
  
  .navbar-menu {
    display: none; /* Cache le menu principal sur mobile */
  }
}

@media(max-width:500px){
  .navbar-menu {
      display: none;
      padding: 10px;
    }
}
          