.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-white);
  top: 50px;
  bottom: 0;
  width: 270px;
  height: 100%;
  padding: 20px 18px;
  position: fixed;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg);
  z-index: 200;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  background: var(--color-bg--white);
  color: black;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

.sidebar-item:hover {
  background: var(--color-bg);
}

.sidebar-item:visited {
  background: var(--color-primary);
}

.sidebar-item .sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
}

.sidebar-item .sidebar-link:link {
  color: var(--color-text-black);
}

.sidebar-item .sidebar-link:active {
  color: var(--color-text-black);
}

.sidebar-item .sidebar-link:focus {
  color: var(--color-text-black);
}

.sidebar-item .sidebar-link:visited {
  color: var(--color-text-black);
}

.sidebar-item.active {
  background: var(--gradient-green);
}

.sidebar-item.active .sidebar-link {
  color: var(--color-text-white);
}

.sidebar li {
  list-style: none;
}

.sidebar-footer {
  position: absolute;
  bottom: 100px;
}

body {
  background: var(--color-bg);
}

@media (max-width: 700px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* hide sidebar */
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  .personnel-info,
  .donate-info {
    width: 100%;
  }

  .sidebar.active {
    transform: translateX(0);
    z-index: 1000;
  }
  .sidebar-overlay.active {
    display: block;
  }
}
