:root {
  --accent-color: var(--color-primary);
  --base-color: white;
  --text-color: #2e2b41;
  --input-color: #f3f0ff;
}

/* html{
  color: var(--text-color);
  text-align: center;
}*/
.login-signup-body {
  min-height: 100vh;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: right;
  overflow: hidden;
}
.form-wrapper {
  box-sizing: border-box;
  background-color: var(--base-color);
  height: 100vh;
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.login-signup-form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-signup-form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-signup-form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.login-signup-form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}
.login-signup-form input:hover {
  border-color: var(--accent-color);
}
.login-signup-form input:focus {
  outline: none;
  border-color: var(--text-color);
}
.login-signup-form div:has(input:focus) > label {
  background-color: var(--text-color);
}
.login-signup-form input::placeholder {
  color: var(--text-color);
}
.login-signup-form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
.login-signup-form button:hover {
  background-color: var(--text-color);
}
.login-signup-form button:focus {
  outline: none;
  background-color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover.decorated {
  text-decoration: underline;
}
@media (max-width: 1100px) {
  .form-wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}
.login-signup-form div.error label {
  background-color: #f06272;
}
.login-signup-form div.error input {
  border-color: #f06272;
}
#error-msg {
  color: #f06272;
}

.error {
  color: #f06272;
}
