button {
  display: inline-block;
  font-size: var(--fs-7);
  line-height: 1.5;
  font-weight: 700;
  padding: 10.5px 24px;
  border-radius: 28px;
  transition: 150ms ease-in-out;
  transition-property: background, opacity;
}

button.green {
  background: var(--gradient-green);
}
